* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    margin-top: 10px;
}

body {
    width: 100%;
}

.heading-div {
    position: sticky;
    position: -webkit-sticky;
    width: 100%;
    background-color: #f5f5f5;
    border: solid 1px #cdcdcd;
    border-width: 0px 0px 1px 0px;
    padding: 5px 0px 5px 0px;
    top: 0px;
    margin-top: -20px;
    z-index: 5;
}

.navbutton {
    border: none;
    font-size: 13px;
    font-weight: 100;
    color: white;
}

.button-icons {
    aspect-ratio: 1;
    width: auto;
    height: 30px;
}

.options {
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.img-div {
    padding: 10px;
    width: fit-content;
    height: fit-content;
    margin: auto;
    border: solid 1px #cdcdcd;
    border-style: solid;
    border-width: 1px;
    border-color: #cdcdcd;
    border-radius: 50%;
    background-color: #f5f5f5;
}

.header-div {
    height: 380px;
    width: 70%;
    min-width: 200px;
    background-color: #f5f5f5;
    border-radius: 2px;
    border: dotted 0px #007ACC;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 20px;
    background-image: url("/images/background__.jpg");
}

.header-div h1 {
    font-size: x-large;
    font-weight: 300px;
    color: white;
    text-align: center;
}

.header-div p {
    font-size: medium;
    font-weight: 200px;
    color: white;
    text-align: center;
}

h2 {
    font-size: medium;
    font-weight: 200px;
    color: gray;
    text-align: center;
}

li {
    list-style: none;
    word-wrap: normal;
}

.button-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    padding-left: 0;
    padding: 10px;
}

.button-list li {
    max-width: 600px;
    margin: 5px;
}

.SDGLIST {
    display: flex;
    flex-wrap: wrap;
}

.sdg-1-red {
    background-color: #EA1B2C;
    width: 100px;
    margin-right: 5px;
    padding: 5px;
    border-radius: 5px;
    font-size: medium;
    font-weight: 700;
    color: #f5f5f5;
}

.sdg-2-yellow {
    background-color: #D39F29;
    width: 100px;
    padding: 5px;
    margin-right: 5px;
    border-radius: 5px;
    font-size: medium;
    font-weight: 700;
    color: #f5f5f5;
}

.sdg-3-green {
    background-color: #279A47;
    width: 200px;
    padding: 5px;
    border-radius: 5px;
    font-size: medium;
    font-weight: 700;
    color: #f5f5f5;
}

.product-button {
    background-color: #007ACC;
    height: 30px;
    border: none;
    border-radius: 2px;
    color: white;
    font-weight: 400;
    font-size: 15px;
    width: fit-content;
    cursor: pointer;
}

.product-button:hover {
    background-color: blueviolet;
    transition: 3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.product-div {
    border: solid 1px #cdcdcd;
    padding: 10px;
    border-radius: 5px;
}

.product-div-first {
    border: solid 1px #cdcdcd;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 0px;
    margin-top: -40px;
    border-width: 1px 0px 0px 0px;
}

.product-img {
    height: 100px;
}

.image-container {
    height: fit-content;
    width: fit-content;
    margin: auto;
}

.button-container {
    height: fit-content;
    width: fit-content;
    margin: auto;
}

p {
    font-size: 13px;
    font-weight: 100;
    color: #1e1e1e;
    text-align: center;
}

footer {
    background-color: #007ACC;
    /* position: fixed;*/
    margin-bottom: 0px;
    bottom: 0px;
    width: 100%;
    /*position: sticky;
    position: -webkit-sticky;*/
}

footer h1 {
    color: white;
    font-size: large;
    font-weight: 200;
    text-align: center;
}

footer p {
    vertical-align: bottom;
    font-size: x-small;
    font-weight: 100;
    color: white;
    text-align: center;
}

@media (max-width:960px) {
    .product-div-first {
        border: solid 1px #cdcdcd;
        padding: 10px;
        background-color: #ffffff;
        border-radius: 5px;
        margin-top: 20px;
        border-width: 1px;
    }
    .header-div {
        height: 380px;
        width: 100%;
        min-width: 200px;
        background-color: #f5f5f5;
        border-radius: 2px;
        border: dotted 0px #007ACC;
        margin: auto;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 20px;
        background-image: url("/images/background__.jpg");
    }
}